<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>Filter.PermissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>Controller.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <servlet-class>Controller.ForgotPasswordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesControl</servlet-name>
        <servlet-class>Controller.CategoriesControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>Controller.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>Controller.CartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControl</servlet-name>
        <servlet-class>Controller.ProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutControl</servlet-name>
        <servlet-class>Controller.CheckOutControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/SignUpControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <url-pattern>/ForgotPasswordControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesControl</servlet-name>
        <url-pattern>/CategoriesControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/LogOutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/CartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControl</servlet-name>
        <url-pattern>/ProfileControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutControl</servlet-name>
        <url-pattern>/CheckOutControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>./admin/admin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
