<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>Filter.PermissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Controller.AccountControl.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>Controller.AccountControl.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <servlet-class>Controller.AccountControl.ForgotPasswordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesControl</servlet-name>
        <servlet-class>Controller.CategoriesControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>Controller.AccountControl.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>Controller.CartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControl</servlet-name>
        <servlet-class>Controller.AccountControl.ProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutControl</servlet-name>
        <servlet-class>Controller.CheckOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>Controller.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductControl</servlet-name>
        <servlet-class>Controller.ItemControl</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>WebSocketChatServer</servlet-name>
        <servlet-class>Controller.WebSocketChatServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientEndPoint</servlet-name>
        <servlet-class>Controller.ClientEndPoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordControl</servlet-name>
        <servlet-class>Controller.AccountControl.NewPasswordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>Controller.AccountControl.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>Controller.DataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerControl</servlet-name>
        <servlet-class>Controller.CustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeControl</servlet-name>
        <servlet-class>Controller.EmployeeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetControl</servlet-name>
        <servlet-class>Controller.PetControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionControl</servlet-name>
        <servlet-class>Controller.PromotionControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs</servlet-name>
        <servlet-class>Controller.ContactUs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/SignUpControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <url-pattern>/ForgotPasswordControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesControl</servlet-name>
        <url-pattern>/CategoriesControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/LogOutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/CartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControl</servlet-name>
        <url-pattern>/ProfileControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutControl</servlet-name>
        <url-pattern>/CheckOutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductControl</servlet-name>
        <url-pattern>/ProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebSocketChatServer</servlet-name>
        <url-pattern>/WebSocketChatServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientEndPoint</servlet-name>
        <url-pattern>/ClientEndPoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordControl</servlet-name>
        <url-pattern>/NewPasswordControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/DataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerControl</servlet-name>
        <url-pattern>/CustomerControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeControl</servlet-name>
        <url-pattern>/EmployeeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetControl</servlet-name>
        <url-pattern>/PetControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionControl</servlet-name>
        <url-pattern>/PromotionControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs</servlet-name>
        <url-pattern>/ContactUs</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
