
.container {
    display: flex;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;
    padding: 0;
}

.header {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

.top-bar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background: #f8f9fa;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    font: 400 16px/1 Poppins, sans-serif;
}

.left-sidebar, .right-sidebar {
    width: 8%;
    background-color: #f8f9fa;
}

.main-content {
    flex: 1;
    background-color: #f8f9fa;
}

.location-info, .user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
}

.icon {
    width: 24px;
    object-fit: contain;
}

.phone-number {
    /*display: flex;*/
    gap: 8px;
    margin-right: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
}

.main-nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0 16px 12px rgba(0, 0, 0, 0.03);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;


}

.brand {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--Default-Black, #000);
    font: 700 20px Poppins, sans-serif;
}

.brand-logo {
    width: 29px;
    object-fit: contain;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font: 500 20px Poppins, sans-serif;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 378px;
    gap: 16px;
}

.search-input {
    border-radius: 20px;
    background-color: #f8f9fa;
    width: 83%;
    height: 40px;
    font: 400 16px/1 Poppins, sans-serif;
    border: none;
}

.search-icon {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    aspect-ratio: 1;
    object-fit: contain;
}

.cart-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    aspect-ratio: 1;
    object-fit: contain;
}
