@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --darkgrey: #354052;
    --lightgrey: #7f8fa4;
    --darknavi: #11141a;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #f5f6fa;
}

h1{
    color: #280559;
    margin-left: 2%;
    font-size: 32px;
    font-weight: 600;
    align-self: center;
}

h4{
    color: #9898A3;
    margin-left: 3%;
    font-size: 14px;
    font-weight: 600;
    align-self: start;
}

.view-service-btn {
    background-color: #280559;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: start;
    margin: 4% 0 0 6%;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.cardHeader .btn {
    position: relative;
    padding: 10px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    cursor: pointer;
}

.bookings-stat {
    position: relative;
    padding: 20px;
    background: var(--white);
    /*box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);*/
    border-radius: 20px;
    width: 50%;
    grid-template-rows: repeat(4, 1fr);
}

.cardBox {
    position: relative;
    width: 200%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 25px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    width: 100%;
    justify-self: center;
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2rem;
    color: var(--blue);
}

.cardBox .card .cardName {
    font-size: 1rem;
    color: var(--black2);
    margin: 5px 0;
}

.cardBox .card .iconBx {
    font-size: 3rem;
    color: var(--black2);
    margin-left: 50%;
}

.cardBox .card:hover {
    background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}

.tabs {
    display: flex;
    flex-direction: column;
    color: var(--darknavi, #11141a);
    white-space: nowrap;
    font: 700 18px Inter, sans-serif;
}
@media (max-width: 991px) {
    .tabs {
        white-space: initial;
    }
}
.quick-stats {
    align-self: start;
    z-index: 10;
    margin-top: -4px;
    margin-left: 4%;
}
.img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-top: 16px;
}
@media (max-width: 991px) {
    .img {
        max-width: 100%;
    }
}

.booking-container {
    margin-top: 33px;
    overflow-x: scroll;
    margin: 0 2%;
    padding: 2%;
}

@media (max-width: 991px) {
    .booking-container {
        max-width: 100%;
        margin-right: 5px;
    }
}

.booking-list {
    gap: 20px;
    display: flex;
    margin-bottom: 5%;
}

@media (max-width: 991px) {
    .booking-list {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.booking-item {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .booking-item {
        width: 100%;
    }
}

.booking-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: start;
    font-family: Lato, sans-serif;
    padding: 30px 35px;
    background-color: #ffffff;
    border-radius: 35px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

@media (max-width: 991px) {
    .booking-card {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}

.doctor-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.booking-content{
    position: relative;
    display: flex;
    width: 318px;
    max-width: 100%;
    gap: 20px;
    font-weight: 400;
    justify-content: space-between;
}

.booking-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 14px;
}

.doctor-name {
    color: rgba(17, 20, 26, 1);
    font-family: Inter, sans-serif;
    font-weight: 700;
    align-self: stretch;
}

.service-label {
    color: rgba(127, 143, 164, 1);
    font-size: 12px;
    margin-top: 16px;
}

.service-type {
    color: var(--darkgrey, #354052);
}

.date-label {
    color: rgba(127, 143, 164, 1);
    font-size: 12px;
    margin-top: 15px;
}

.booking-date {
    color: rgba(53, 64, 82, 1);
}

.booking-time {
    align-self: end;
    display: flex;
    margin-top: 30%;
    flex-direction: column;
}

@media (max-width: 991px) {
    .booking-time {
        margin-top: 40px;
    }
}

.time-label {
    color: rgba(127, 143, 164, 1);
    font-size: 12px;
    align-self: start;
}

.time-slot {
    color: rgba(53, 64, 82, 1);
    font-size: 14px;
}

/*.divider-image {
    aspect-ratio: 500;
    object-fit: contain;
    object-position: center;
    width: 100%;
    align-self: stretch;
    margin-top: 39px;
}

@media (max-width: 991px) {
    .divider-image {
        max-width: 100%;
    }
}*/

.booking-actions {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 284px;
    max-width: 100%;
    gap: 10%;
    font-size: 14px;
    font-weight: 700;
    /*justify-content: space-between;*/
}

.accept-booking {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    border-color:#34a853;
    font-size: 12px;
    font-weight: bold;
    background-color: #e3f7ec;
    color: #34a853;
}


.decline-booking {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    border-color: #d32f2f;
    font-size: 12px;
    font-weight: bold;
    background-color: #ffebee;
    color: #d32f2f;
}

